input {
	border: 0;
	font: 12pt serif;
	background-color: transparent;
	color: gray;
	margin: 0 0 -3px 0;
	outline: none;
	overflow-y: hidden;
	padding: 0;
	resize: none;
	text-wrap: none;
	vertical-align: baseline;
}

ol {
	background-color: white;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
	position: absolute;
	border: 1px solid #bbb;
	-moz-box-shadow:    0 4px 6px 0px #ccc;
	box-shadow:         0 4px 6px 0px #ccc;
	-webkit-box-shadow: 0 4px 6px 0px #ccc;
}

ol li {
	cursor: pointer;
	font-weight: normal;
	padding: 0.2em;
	padding-right: 1em;
}
ol li:hover {
	background-color: #eee;
}

span {
	position: relative;
}

#sel {
	background-color: #aacbef;
}

.desc:before, .desc:after {
	content: '"';
}

.error {
	color: red;
}
